@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.search {
  border: 2px solid #22254b;
  background-color: transparent;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.search::placeholder {
  color: #6f77e9;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: relative;
  margin: 1rem;
  width: 300px;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info span {
  background-color: #22254b;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: green;
}
.movie-info span.orange {
  color: red;
}
.movie-info span.red {
  color: orange;
}

.overview {
  padding: 2rem;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(107%);
  transition: transform 0.3s ease-in;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 100%;
  overflow: auto;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
